<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LibraryEntities" connectionString="metadata=res://*/Library.csdl|res://*/Library.ssdl|res://*/Library.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;C:\Users\Jimmy Wu\Documents\影片範例\GanhuaDesignPattern\Chapter 05\Ganhua.Library\Ganhua.Library.UI.Web\App_Data\Library.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>